* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: system-ui;
	font-size: 15px;
}
.preferences {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.preferences .content {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
}
.content .row {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 10px;
}
.content .buttons-row {
	justify-content: flex-end;
}
.content .label {
	width: 30%;
	margin-right: 30px;
}
.content .help {
	flex: 1;
}
.content .help ul {
	margin: 2px;
	padding-left: 18px;
}
.content .only-mac {
	display: none;
}
.content .not-mac {
	display: none;
}
.content .search-types-buttons {
	flex: 1;
}
.content .text-field {
	font-family: inherit;
	font-size: inherit;
	border: 1px solid black;
	flex: 1;
	padding: 6px;
}
.content .text-field:active {
	border: 1px solid #84bbf3;
}
.content .text-field + button,
.content button + button {
	margin-left: 10px;
}
.buttons {
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}
.button {
	outline: none;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.button-standard {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color: #ffffff;
	border: 1px solid #dcdcdc;
	text-shadow: 0px 1px 0px #ffffff;
}
.button-standard:active {
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color: #f6f6f6;
}
.buttons .button {
	padding: 6px 24px;
}
.button-default {
	box-shadow: inset 0px 1px 0px 0px #dcecfb;
	background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color: #bddbfa;
	border: 1px solid #84bbf3;
	text-shadow: 0px 1px 0px #528ecc;
	margin-left: 10px;
}
.button-default:active {
	background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color: #80b5ea;
}
