* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-user-select: none;
}

.search {
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.search #types {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	overflow-x: auto;
}
.search #types::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0;
	height: 0;
}
.search #types .type {
	border: 1px solid royalblue;
	background: none;
	border-radius: 12px;
	cursor: pointer;
	padding: 10px 12px;
	margin-right: 10px;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.search #types .type:active,
.search #types .type.selected {
	background-color: royalblue;
	color: white;
}
.search #types .type .icon {
	width: 16px;
	height: 16px;
	margin-right: 6px;
}
.search #types .type:active .icon.masked,
.search #types .type.selected .icon.masked {
	filter: brightness(0) invert(1);
}

.search #search-container {
	width: 100%;
	position: relative;
}
.search #search-text {
	width: 100%;
	font-size: 20px;
	margin: 0px;
	padding: 3px;
}
.search #search-text:focus {
	outline: none;
}
.search #spinner {
	position: absolute;
	display: block;
	visibility: hidden;
	top: 0;
	bottom: 0;
	right: 1px;
	margin: auto 0;
	width: 30px;
	height: 30px;
}

.search #error {
	color: red;
	margin-top: 10px;
	font-size: 16px;
	overflow: hidden;
}

.search #results {
	margin-top: 10px;
	max-height: 400px;
	overflow-y: auto;
}
.search #results .result {
	height: 40px;
	padding: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}
.search #results .result:active,
.search #results .result.selected {
	background-color: royalblue;
	color: white
}
.search #results .result .icon {
	margin-right: 3px;
}
.search #results .result .icon img {
	width: 32px;
	height: 32px;
}
.search #results .result .main {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.search #results .result .title {
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.search #results .result .subtitle {
	font-size: 12px;
	color: gray;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.search #results .result.selected .subtitle {
	color: lightgray;
}
.search #results .result .badge {
	margin-left: 3px;
	border-radius: 12px;
	background: darkgray;
	color: white;
	padding: 5px;
}
